<html>
    <head>
        <script>
            var str1 = 'dso__';
            var str2 = '{{DSOUserID}}';
            var viuserid = str1.concat(str2);

            var adcm_config ={
                id: 7120,
                tags: [viuserid]
            };
        </script>
        <script src="https://tag.digitaltarget.ru/adcm.js"></script>
    </head>

    <body>
        <script async src="https://static.terratraf.io/engine/GP.js"></script>
        <script>
            window.generalPixel = window.generalPixel || [];
            window.generalPixel.push({type:'GPID', id:'10001F44'});
            window.generalPixel.push({UserID:'{{DSOUserID}}'});
        </script>
    </body>
</html>
