<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <style>
        .bar {
            fill: green;
        }

        .highlight {
            fill: red;
        }

        .title {
            fill: blue;
            font-weight: bold;
        }

        // tdm2
        .links line {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        text {
            font-family: sans-serif;
            font-size: 10px;
        }
        </style>

        <script src = "https://d3js.org/d3.v4.min.js"></script>
        <title> Animated bar chart </title>
    </head>

    <body>
        <svg width = "500" height = "500"></svg>

        <script>
            var mydata = "{% static "data.csv" %}"
            var mydata2 = "{% static "miserables.json" %}"
        </script>

        <script src="{% static 'js/tdm1.js' %}"></script>
        <script src="{% static 'js/tdm2.js' %}"></script>
    </body>
</html>